*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Exo;
}

@font-face {
    font-family: Exo;
    src: url(./fonts/Exo2.0-Medium.otf);
}

.main{
    width: 100%;
    height: 95vh;
    background-color: #0c52a1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content{
    max-width: 900px;
    margin: 0px auto;
}

#mainnav{
    width: 100%;
    height: 10vh;
    display: flex;
    margin: auto;
}

nav{
    width: 100%;
    background: transparent;
    backdrop-filter: blur(100px);
    text-align: center;
    position: absolute;
    z-index: 9999;
    align-items: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 30px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c52a1;
    position: relative;
    top: 70px;
    font-size: 3rem;
	text-shadow: 2px 2px 8px #ffffff;
	background-color: #F7CE00;
	font-weight: 500;
}

.profile-card {
    position: relative;
    width: 220px;
    height: 220px;
    padding: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
}

.profile-card:hover {
    border-radius: 10px;
    height: 260px;
}

.profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}

.img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: #3336;
    transition: .6s;
}

.profile-card:hover img {
    border-radius: 10px;
    transform: translateY(-60px);
}

.caption {
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}

.profile-card:hover .caption {
    opacity: 1;
}

.caption h4 {
    font-size: 20px;
}

.caption p{
    font-size: 17px;
    color: #0c52a1;
    margin: 2px 0 6px 0;
}

.caption .social-links a {
    color: #333;
    margin-right: 8px;
    font-size: 19px;
    transition: .6s;
}

.social-links a:hover{
    color: #0c52a1;
}

.main2 {
    width: 100%;
    height: 20vh;
    background-color: #0c52a1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main3 {
    width: 100%;
    height: 95vh;
    background-color: #0c52a1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main4 {
    width: 100%;
    height: 45vh;
    background-color: #0c52a1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 140px;
}

/*Footer*/
footer {
    background-color: #ECB500;
    color: #ffffff;
}
footer .sec-content{
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
}

.footer-social{
	display: inline-block;
}

.footer-social img{
	height: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 25px;
	opacity: 0.5;
	-webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
       -moz-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
         -o-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer-social a:last-child img{
	margin-right: 0px;
}

.footer-social img:hover{
	opacity: 1.0;
}

.footer-copyright{
	display: inline-block;
	text-align: right;
	flex: 1;
}

.footer-copyright p{
	display: inline-block;
}
/*Footer*/